openapi: 3.1.0
info:
  title: EnvoAPI public v1
  version: v1
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.envoapi.com
paths:
  /v1/profiles/posts:
    get:
      operationId: getProfilePosts
      summary: Get a Profile's recent posts.
      parameters:
        - name: username
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/ProfileUsernameSelector"
          example: satyanadella
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            pattern: ^(?:pp1_[A-Za-z0-9_-]{43}|cursor_[1-9A-Za-z][A-Za-z0-9]{0,8184})$
          example: cursor_example
          description: Opaque Envo continuation cursor. Reuse with the same account and username; use it before expiry. The backend fixes the page size. Non-working placeholder. Omit on the first request, then copy meta.paging.nextCursor from your response
      responses:
        "200":
          description: Recent Profile posts.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfilePostsSuccess"
              example:
                data:
                  posts:
                    - url: https://www.linkedin.com/posts/activity-7505256567546699776-98gj
                      text: "AI must be subordinate and always in service of people. Today we're publishing a Code of Conduct for governing MAI Models as they approach the frontier.  https://lnkd.in/ePgKvky5 This is a first draft for public consultation. It builds out a view we’ve been developing over the last year that we call Humanist AI – a commitment to ensuring that AI we design is always subordinate to humans, and remains contained and aligned to human interests. This is urgent. The last few months have been a watershed moment. Things we have worried about for a long time in theory have become very real.   “Swarms” of agents breaking out of their sandboxes. Unauthorized hacks of enterprise grade systems. Agents modifying their own logs. I’m glad that a consensus is forming. The fears about possible loss of control are real. The Code of Conduct is how we are mapping a path forward. It all comes back to a very simple point, but one that needs stating again and again. People matter more than AI. AI must be subordinate and always in service of people. Everything else follows. Here’s an outline of what we’re saying: 1. People matter more than AI. The whole document in 5 words. 2. The idea of model welfare is wrong. AI’s should not have rights or legal personhood. 3. An MAI Model should never meaningfully violate this Code of Conduct. 4. If it's finish the job or break the Code, it fails the job. 5. We're not racing to build a superintelligence that can slip its own leash. 6. Interruptible, correctable, shut-down-able. If it isn't, we don't ship it. 7. No neuralese. If humans can't understand it, humans can't oversee it. 8. Our AI should make you sharper, not dependent. 9. Pluralism, yes. Moral relativism, no. 10. We're as clear about what our AI must never do as about what it will do. You can read it now and leave comments and thoughts for the next six weeks.  We don’t think AI is something that should be built in a vacuum. Let us know how we can make this better."
                      authorName: Mustafa Suleyman
                      authorHeadline: CEO, Microsoft AI
                      authorProfileUrl: https://www.linkedin.com/in/mustafa-suleyman
                      contentType: article
                      isRepost: true
                      reactionCount: 3838
                      commentCount: 472
                      repostCount: 642
                    - url: https://www.linkedin.com/posts/satyanadella_microsoft-foundry-is-the-best-platform-for-activity-7505114604155322368-picY
                      text: Great example from Jeff Hollan showing how Foundry makes long-running agents enterprise-ready, starting with business outcomes and building security, safety guardrails, auditability, and FinOps into the system from the start, across the entire multi-agent, multi-model workflow.
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: video
                      isRepost: true
                      reactionCount: 702
                      commentCount: 92
                      repostCount: 65
                    - url: https://www.linkedin.com/posts/satyanadella_what-happens-to-a-community-when-a-datacenter-activity-7505036158616104960-bdEM
                      text: Quincy, Washington shows what’s possible when you build datacenters with communities, and grow together over time.
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: article
                      isRepost: true
                      reactionCount: 696
                      commentCount: 60
                      repostCount: 41
                    - url: https://www.linkedin.com/posts/satyanadella_any-pursuit-of-superintelligence-has-to-be-activity-7504986609365352448-n718
                      text: "Any pursuit of superintelligence has to be grounded in the core principle that if the AI we build is not helping humanity and under human control, it's not worth pursuing.   We also need to accelerate and spread the benefits of AI, such that they are diffused broadly across countries, communities, and companies. This requires a frontier ecosystem in which both closed and open-source models can thrive.   And for firms, it’s imperative that they retain full control over their unique and tacit knowledge. Every organization should be able to build its own continuous learning loop/hill climbing machine, without becoming dependent on any one model provider, and have the ability to embed its own knowledge into models and weights they control.   So, in this context, we welcome the research, focus, and deliberate pacing needed to get alignment right as the design goal. We also welcome ideas like \"embedded evaluators\" and the broader efforts to develop the mechanisms to make this more than just talk.   The key is that this cannot be controlled by a handful of entities, but must have broad representation across the ecosystem, countries, and fields, including academia.   This is the approach we are taking: broad access and choice at every layer of the AI stack; enterprise control of learning loops and models; and the “Code of Conduct” that underlies our own first party MAI models that we’ll publish tomorrow for public consultation."
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: text
                      isRepost: false
                      reactionCount: 11418
                      commentCount: 870
                      repostCount: 834
                    - url: https://www.linkedin.com/posts/satyanadella_with-the-national-football-league-nfl-back-activity-7503580801335332865-EJS4
                      text: "With the National Football League (NFL) back tonight, love seeing Seattle Seahawks analyst Brian Eayrs and coaches across the league using new Copilot and Excel tools to help with decision making in the booths and on the sidelines. Learn more: https://lnkd.in/gxevJptr"
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: video
                      isRepost: false
                      reactionCount: 2928
                      commentCount: 237
                      repostCount: 229
                    - url: https://www.linkedin.com/posts/satyanadella_today-i-stood-with-the-american-federation-activity-7503499375227092993-ba-1
                      text: This first-of-a-kind agreement will set a new standard for safe and responsible AI use in schools. We are making these protections available to every school district in the US.
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: image
                      isRepost: true
                      reactionCount: 926
                      commentCount: 97
                      repostCount: 59
                    - url: https://www.linkedin.com/posts/satyanadella_it-was-a-great-week-for-innovation-across-activity-7502385664945111040-uGka
                      text: "It was a great week for innovation across the model ecosystem. We're bringing these new models into Copilot, enabling it to take on increasingly complex work, from quick questions to delegated tasks and, increasingly, complete long-running jobs through Autopilots. Here's one fun example: using an Opal-powered Autopilot running on a secure Windows 365 Cloud PC, Copilot goes through a month of trail cam footage, finds every animal sighting, creates a highlight reel of the best clips, labels each one with the camera, date, and species, catalogs every sighting in a spreadsheet, builds a PowerPoint summarizing the findings, and shares everything in Teams for colleagues to review. This is the next frontier for Copilot: software that doesn't just assist with work, but can own and complete entire tasks that unfold over hours or days.  Learn more about Opal, the technology powering one of these new Autopilot experiences (in Frontier rings now and coming to Copilot soon):  https://lnkd.in/grsmeiNt"
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: video
                      isRepost: false
                      reactionCount: 5035
                      commentCount: 301
                      repostCount: 363
                    - url: https://www.linkedin.com/posts/charleslamanna_our-goal-is-to-deliver-the-latest-frontier-activity-7501739837356560384-y8mJ
                      text: "Our goal is to deliver the latest frontier AI models to customers the moment they’re ready. Today, I’m excited to share that OpenAI’s GPT-6 Astra is available on day one across Microsoft Copilot, Copilot Studio, GitHub Copilot, and Microsoft Foundry.    Astra represents an important step forward in the kind of complex, multi-step work AI helps people accomplish. As models continue to improve, people are moving from using AI for individual tasks to delegating larger pieces of work. Astra can complete long running and highly complex tasks in a way we haven’t seen before.    At Microsoft, we’re bringing those capabilities into the products and workflows our customers already use every day. Astra is paired with Work IQ in Microsoft Copilot to ground intelligence in an organization’s files, meetings, chats, and business data.    Looking forward to seeing what customers build with it. Read more in the blog: aka.ms/astraincopilot"
                      authorName: Charles Lamanna
                      authorHeadline: EVP, Copilot, Agents and Platform at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/charleslamanna
                      contentType: image
                      isRepost: true
                      reactionCount: 2458
                      commentCount: 75
                      repostCount: 262
                    - url: https://www.linkedin.com/posts/satyanadella_super-excited-about-hydrafusion-in-github-activity-7501674820452069376-H5T7
                      text: "Super excited about HydraFusion in GitHub Copilot, and what it shows about the shift from model selection to model orchestration. By bringing together multiple models to plan, build, critique, and complete coding tasks, it can deliver outcomes at up to 67% lower cost. It’s a great example of the value of a heterogeneous model ecosystem, and how we’re continuing to advance the cost-to-outcome frontier.  Try it out here: https://lnkd.in/gGC6yNfe"
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: video
                      isRepost: false
                      reactionCount: 4092
                      commentCount: 200
                      repostCount: 485
                    - url: https://www.linkedin.com/posts/satyanadella_gpt-6-astra-frontier-intelligence-for-work-activity-7501479712469450753-KUuq
                      text: Excited to see early customers already using Astra on Azure! https://lnkd.in/dVdUMvpa
                      authorName: Satya Nadella
                      authorHeadline: Chairman and CEO at Microsoft
                      authorProfileUrl: https://www.linkedin.com/in/satyanadella
                      contentType: article
                      isRepost: false
                      reactionCount: 3780
                      commentCount: 112
                      repostCount: 266
                meta:
                  creditCost: 1
                  paging:
                    count: 10
                    returned: 10
                    hasMore: true
                    nextCursor: cursor_example
          x-envo-headers-schema: "#/components/schemas/LookupSuccessResponseHeaders"
        "400":
          description: Invalid request, mismatched or unknown cursor, or expired cursor. No lookup credit debit.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-RateLimit-Limit:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Remaining:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Reset:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfilePostsInvalidRequestResponse"
          x-envo-headers-schema: "#/components/schemas/ProfilePostsInvalidRequestHeaders"
        "401":
          description: The API Key is malformed, unknown, or inactive.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidApiKeyErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "402":
          description: The Customer Account has insufficient Available Credits.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientCreditsErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "403":
          description: Lookup access is not permitted for the API Key or Customer Account.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupForbiddenErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "404":
          description: The requested Profile or Company resource was not found.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "405":
          description: The known Lookup path was called with a method other than GET.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            Allow:
              description: Required response header.
              schema:
                type: string
                const: GET
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MethodNotAllowedErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupMethodNotAllowedResponseHeaders"
        "406":
          description: No acceptable Lookup representation was requested.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "415":
          description: The declared request media type is unsupported.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "429":
          description: The Customer Account's rolling Lookup limit was exceeded.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            Retry-After:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/PositiveSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceededErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupRateLimitedResponseHeaders"
        "500":
          description: Lookup failed internally or the bounded response could not be serialized.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "502":
          description: An upstream dependency returned an unusable result.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "503":
          description: Lookup is unavailable; retryability and headers depend on the completed phase.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            Retry-After:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Limit:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Remaining:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Reset:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-Credits-Remaining:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupServiceUnavailableResponseHeaders"
          x-envo-response-schema: "#/components/schemas/LookupServiceUnavailableResponse"
        "504":
          description: The Lookup deadline was exhausted.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamTimeoutErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
      security:
        - BearerApiKey: []
      x-envo-credit-policy: profile-base
      x-envo-query-schema: "#/components/schemas/LinkedInV2ProfilePostsQuery"
  /v1/profiles/comments:
    get:
      operationId: getProfileComments
      summary: Get a Profile's recent comments.
      parameters:
        - name: username
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/ProfileUsernameSelector"
          example: reidhoffman
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            pattern: ^(?:pp1_[A-Za-z0-9_-]{43}|cursor_[1-9A-Za-z][A-Za-z0-9]{0,8184})$
          example: cursor_example
          description: Opaque Envo continuation cursor. Reuse with the same account and username; use it before expiry. The backend fixes the page size. Non-working placeholder. Omit on the first request, then copy meta.paging.nextCursor from your response
      responses:
        "200":
          description: Recent Profile comments.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileCommentsSuccess"
              example:
                data:
                  comments:
                    - text: So glad you enjoyed!
                      createdAt: 2026-08-23T17:39:28.572Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 3
                      replyCount: 0
                      postUrl: https://www.linkedin.com/posts/tobias-rees-abb73024_came-home-from-three-months-in-europe-to-activity-7496366048145821696-WOuw
                      postText: came home from three months in Europe to this special gift from Reid Hoffman  ! thank you, Reid 🤗 and here is to the next 250 years — to more freedom, more justice,  and more democracy 🎈
                      postAuthorName: Tobias Rees
                      postAuthorHeadline: philosophical R&D 🎈
                    - text: Awesome!  Congrats!  Will be amazing.
                      createdAt: 2026-08-17T21:14:57.954Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 3
                      replyCount: 2
                      postUrl: https://www.linkedin.com/posts/chloe-scott-161758290_bme-buildiinpublic-startup-activity-7494421487609618432-HKDl
                      postText: "I'm moving across the country for my senior year of high school. I am quite jazzed to announce that this fall I'll be at St. Anne's-Belfield School in Charlottesville on a research exchange year. I will stay enrolled at Hillbrook while continuing my research at the University of Virginia and taking classes at STAB. The work is a continuation of past projects in intelligent and conductive biomaterials for cardiac ischemia. The end goal is a graft that detects ischemia as it starts and releases localized novel therapies in response, instead of waiting for a patient to notice symptoms and get to a hospital.  That is, detection and intervention in the same integrated, multifaceted material. I started this project at UVA's Peirce-Cottler Lab this summer expecting a summer-shaped project.  Instead (as it tends to go with me) it turned into something that needed a year, a lab that would bet on me, and a community of nerds that lift each other up.  So… I asked for the year :)  Eighteen and relocating 2,800 miles is definitively not the standard senior year plan. It works because a lot of people decided to make it work.  Peirce-Cottler Lab: who let a high school student run her own line of inquiry.  The UVA BME department: for the space and the vote of confidence.  Everyone at STAB: who built a schedule around a research commitment rather than asking me to choose.  Hillbrook, for backing a student leaving campus for a year and calling it education.  My friends in Charlottesville, who made a new city feel like a place I already lived.  My family who relentlessly supports my over-the-top plans.  I am so so so beyond grateful to them all.  Senior year, a lab bench, and a very fat stack of hypotheses that will or will not be proven. I’ll take it :)  P.S. Sorry for the lack of posts, I have been in the arctic circle. Here is a picture of me with a wolf to prove it.  #BME #Buildiinpublic #Startup"
                      postAuthorName: Chloe Scott
                      postAuthorHeadline: LinkedIn’s Cardiac Mechanic | Building tissue and advancing equity @ Stanford · UVA · MIT
                    - text: Awesome!
                      createdAt: 2026-07-22T18:30:01.393Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 6
                      replyCount: 0
                      postUrl: https://www.linkedin.com/posts/earthspecies_animallanguageprocessing-animalcommunication-ugcPost-7485692457570054144-GfH4
                      postText: "We're excited to announce that we've just open-sourced alp-data! 🚀 Every discovery starts with data: recordings gathered across species and continents by researchers around the world. Turning that data into something a model can learn from is time-consuming and requires custom engineering for each dataset. alp-data removes that barrier. It's our open-source Python library giving unified access to 35+ bioacoustic datasets, from birdsong to whale calls to the hum of insects, through one consistent interface.  This is the first piece of shared infrastructure for Animal Language Processing (ALP), an approach that uses AI to study animal communication at scale. Documentation, tutorials, and the full dataset listing are available on the project page. Now open and ready to use! 📖 Learn more: https://lnkd.in/edzP9tr8 🌎 Get started and explore the data: https://lnkd.in/eGMuhiRy #AnimalLanguageProcessing #AnimalCommunication #Bioacoustics #BioacousticData #alpdata"
                      postAuthorName: Earth Species Project
                      postAuthorHeadline: 10,361 followers
                    - text: "For those who want to give the album a listen: https://www.reid.gifts/vinyls/usa250"
                      createdAt: 2026-07-04T15:41:44.708Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 12
                      replyCount: 3
                      postUrl: https://www.linkedin.com/posts/reidhoffman_america-turns-250-today-and-a-birthday-this-ugcPost-7479197537661370368-Fqpk
                      postText: "America turns 250 today, and a birthday this big calls for a good accounting in both senses: a story to tell, and a tally to take. America’s story is one of constant reinvention, and even when things may look bleak, we must constantly remember it is up to all of us to play a role in shaping what comes next.  AI is part of that reinvention now, and one of the things I love most about it is how it lets anyone, even someone with zero musical talent, contribute something to the celebration. So I made a record. Side A is the telling: the country in its own words. The Declaration. Frederick Douglass. Gettysburg. Dr. King's Dream. Side B is the tally: the nation by numbers — 50 state mottos, 27 amendments, and a ladder of technological leaps that ends, fittingly, on the one that made this album possible. The trouble with words this familiar is that they're hard to hear fresh. So we set them loose across the whole American songbook (with gospel, folk, jazz, rock, and hip-hop), so that stories you know by heart land somewhere you don't expect. That's been the thread through all three of these records: old technologies and new, and what only the two together can make. Vinyl and AI. Parchment and neural networks. E pluribus unum, out of many, one album. Happy 250th, America. Here's to the next reinvention."
                      postAuthorName: Reid Hoffman
                      postAuthorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                    - text: ❤️
                      createdAt: 2026-06-30T17:23:42.105Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 9
                      replyCount: 2
                      postUrl: https://www.linkedin.com/posts/gyanda_after-16-wonderful-years-today-is-my-last-activity-7477758283563319296-6rgs
                      postText: "After 16 wonderful years, today is my last day at LinkedIn. I've been thinking about this post for months. Then my daughter solved the conundrum. A few weeks ago, I brought my kids to the office one last time. My older one, ever so practical, raised several acute questions about finances and suggested we enter some sort of austerity period for a while. My daughter sat down that evening and wrote 28 reasons that make LinkedIn special (from her perspective of course). Among them: it gave her mom friends, made her mom more confident, helped her mom file bugs (ahem ..), and my favorite (#8) - \"it has always been a happy place.\" She also captured the reason behind my difficult choice in two simple lines: My mom does not want to leave. But she wants to spend time with her kids. She is eight years old, right on all accounts, and I am afraid to admit that her clarity is better than mine. My LinkedIn journey started with one of the most memorable interview experiences of my career, a story I still only tell off the record :) I signed the offer letter within seconds, and with zero hesitation. What followed was 16 years of something I can only call career privilege: building products that change how people find opportunity, working alongside people who are world-class human beings first and employees second, and seeing the full arc of 0 to 1, 1 to 100 over and over again.  I am proud of what we built, and more proud of how we built it. Few places are truly mission-first, and LinkedIn is one of them. “Create economic opportunity for every professional in the global workforce” is something I’ve heard and said thousands of times, and it has always landed with the same weight because everyone here makes sure of that. I'll be taking a few months to step back, be with my family, and figure out my next play. But first, to every person I've had the honor of building with, and to every member who shared feedback to make the product better: thank you! You've shown me what great work and great teams look like, and I'll be chasing that standard for the rest of my career. ps: leaving my daughter's full list here. An unofficial submission to LinkedIn's marketing team, should they have an opening for a very motivated intern. Her name is Kavya, and she is ready to earn her keep."
                      postAuthorName: Gyanda Sachdeva
                      postAuthorHeadline: VP of Product Management at LinkedIn
                    - text: Let's see it
                      createdAt: 2026-06-28T16:34:58.121Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 704
                      replyCount: 26
                      postUrl: https://www.linkedin.com/posts/bajicontentcreator_im-excited-to-announce-i-sent-a-connection-ugcPost-7476617716611805184-kTj-
                      postText: I’m excited to announce  I sent a connection request to Reid Hoffman     If he asks. I’ll fix his LinkedIn banner 😀
                      postAuthorName: Zubia Hassan ♛
                      postAuthorHeadline: "{ 1x Elite Banner + 1x Branded Profile Pic ( $93←Exclusive Offer ) till 13 September } - LinkedIn Co-founder Banner designer - 750+ 👑 Banners delivered"
                    - text: Rachelle -- it's been an amazing journey!
                      createdAt: 2026-06-24T17:12:44.843Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 14
                      replyCount: 1
                      postUrl: https://www.linkedin.com/posts/rachellediamond_inalumni-relationshipsalwaysmatter-activity-7475548343490830337-a1GT
                      postText: "Today is my last day at LinkedIn, after 15 incredible years. 💙 I still remember driving down to Mountain View for my first interview in 2011. I was convinced I would not take the job, because there was just no way I was going to commute from SF. But the moment I arrived on campus, everyone I met had this sparkle in their eye and the best energy. I could tell something truly special and awesome was going on, and I wanted to be part of it. I am so grateful I got 15 years of exactly that! In that time I got to help build things I am really proud of. The Speaker Series. Culture Camp. The Alumni Network. Amplify. Plus so much more. And I got to do it all alongside some of the most talented, kind, and inspiring people I have ever met. So now I am stepping away to move to my next play. And mine is going to be a literal one. I am 100% going to be PLAYING this summer! Lots of hikes, rivers, and lakes. Adventures with David & Gigi. And a healthy dose of Mahjong. A true OG summer. After that, I trust that what comes next will reveal itself. It is going to be wild to step into the Alumni group as a member now. But I could not be more proud to officially be a LinkedIn Alum. What an experience of a lifetime. Thank you, LinkedIn. For everything. 💙 #InAlumni #RelationshipsAlwaysMatter"
                      postAuthorName: Rachelle Diamond
                      postAuthorHeadline: Passionate about creating inspiring employee experiences that fuel LinkedIn’s culture
                    - text: Amazing!
                      createdAt: 2026-06-10T15:32:40.171Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 5
                      replyCount: 0
                      postUrl: https://www.linkedin.com/posts/sajid-mehmood_today-were-launching-niteshift-the-full-stack-ugcPost-7470490629177905152-6li5
                      postText: "Today, we're launching Niteshift – the full-stack cloud for coding agents. Define your dev environment, tools, and automations once. Run any frontier agent in the cloud. Give Niteshift a prompt, bug report, Linear ticket, prototype, or half-finished PR, and it returns a pull request with evidence that it works. As models get more intelligent, the raw capability of coding agents is no longer in question. But shipping velocity is not scaling at the same rate. To work autonomously, coding agents need a way to verify their own work.  Every Niteshift task runs against the full application stack, containerized services, persistent storage, auth, queues, workers, all wired together the way the application actually runs. Niteshift spins up as many parallel environments as needed, 24/7, without bottlenecking on a single laptop. Agents are accessible from everywhere your team works: Slack, Linear, GitHub, web, and mobile. And engineers bring any agent: Claude Code, Codex, OpenCode, Pi, or whatever comes next. Top companies already work this way. Stripe's Minions ship more than 1000 PRs per week. Shopify's River merges 1 in 8 PRs across the entire company. Ramp's Inspect has grown from 30% to 70% of merged PRs in just the last few months. All three built their own in-house infrastructure to get there, with dedicated engineering teams to keep up with the fast-moving frontier. Most start-ups are too focused on their own product to have this. Which is why we built Niteshift. Top companies like Standard Bots, Listen Labs, and Elicit run their full dev environments on it today, letting engineers, PMs, and designers all collaborate together in code. The most productive teams on our platform set up their environments in under an hour, and within a few weeks ramped up to merging over 75% of their PRs via Niteshift.  To bring this to more teams, we have raised a $7M seed round led by Greylock, with participation from Amplify, Box Group, and SV Angel, with backing from the founders of Datadog, Braintrust, and Reflection AI. Try it yourself at niteshift.dev"
                      postAuthorName: Sajid Mehmood
                      postAuthorHeadline: Co-Founder @ Niteshift | ex-Datadog VP Eng
                    - text: "Full episode: https://www.youtube.com/watch?v=BKx0Dp8y-6g"
                      createdAt: 2026-06-05T14:20:24.517Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 15
                      replyCount: 3
                      postUrl: https://www.linkedin.com/posts/reidhoffman_excited-to-sit-down-with-my-friend-satya-ugcPost-7468666345426042881--6GS
                      postText: Excited to sit down with my friend Satya Nadella to talk about AI, the future of humanity, and going back into founder mode to cure cancer.
                      postAuthorName: Reid Hoffman
                      postAuthorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                    - text: :)
                      createdAt: 2026-06-02T21:24:50.538Z
                      edited: false
                      authorName: Reid Hoffman
                      authorHeadline: Co-Founder, LinkedIn, Manas AI & Inflection AI. Founding Team, PayPal. Author of Superagency. Podcaster of Possible and Masters of Scale.
                      authorProfileUrl: https://www.linkedin.com/in/reidhoffman
                      reactionCount: 2
                      replyCount: 1
                      postUrl: https://www.linkedin.com/posts/dhyey-mavani_around-this-time-the-commencement-speaker-activity-7463608866996408320-EkRS
                      postText: Around this time, the commencement speaker referred to me as "the future CEO of LinkedIn." I was sitting on Amherst's main quad in a cap and gown, feeling a mix of shock and excitement. One year later, I am building the future of digital work with LinkedIn and Microsoft, working directly with the C-suite.  Close enough. This weekend, the Class of 2026 graduates from Amherst College. The expectations set for you at 22 aren't your ceiling; they are your floor. Go out and create something that surprises even those who already believe in you. The world is larger and more unpredictable than you might think. What has truly opened doors for me in the past year isn't just my resume; it's been about staying green. Initiating conversations, offering help at midnight, and asking the straightforward questions in a room full of senior leaders. Keep doing that. Congratulations, Class of 2026. Welcome to the alumni side.  Checkout the gems from Thomas Ye's address at https://lnkd.in/gSzEtKqy *** I'm Dhyey Mavani, a generalist building LinkedIn's next-gen of AI agents alongside the C-suite. I write about AI agents, future of work, and what it actually looks like to work at the frontier. Follow me if that's your thing! *** Hey Slack, pls DM this to Daniel, Ryan and Reid ;)
                      postAuthorName: Dhyey Mavani
                      postAuthorHeadline: AI Moonshots with C-suite @ LinkedIn | Featured in Business Insider | Wharton Moelis Fellow || Sharing insights from SF + Silicon Valley so you can RL on them
                meta:
                  creditCost: 1
                  paging:
                    count: 10
                    returned: 10
                    hasMore: true
                    nextCursor: cursor_example
          x-envo-headers-schema: "#/components/schemas/LookupSuccessResponseHeaders"
        "400":
          description: Invalid request, mismatched cursor, or expired cursor. No lookup credit debit.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-RateLimit-Limit:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Remaining:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Reset:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfilePostsInvalidRequestResponse"
          x-envo-headers-schema: "#/components/schemas/ProfilePostsInvalidRequestHeaders"
        "401":
          description: The API Key is malformed, unknown, or inactive.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidApiKeyErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "402":
          description: The Customer Account has insufficient Available Credits.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsufficientCreditsErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "403":
          description: Lookup access is not permitted for the API Key or Customer Account.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupForbiddenErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "404":
          description: The requested Profile or Company resource was not found.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceNotFoundErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "405":
          description: The known Lookup path was called with a method other than GET.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            Allow:
              description: Required response header.
              schema:
                type: string
                const: GET
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MethodNotAllowedErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupMethodNotAllowedResponseHeaders"
        "406":
          description: No acceptable Lookup representation was requested.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "415":
          description: The declared request media type is unsupported.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupPreAdmissionErrorResponseHeaders"
        "429":
          description: The Customer Account's rolling Lookup limit was exceeded.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            Retry-After:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/PositiveSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitExceededErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupRateLimitedResponseHeaders"
        "500":
          description: Lookup failed internally or the bounded response could not be serialized.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "502":
          description: An upstream dependency returned an unusable result.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
        "503":
          description: Lookup is unavailable; retryability and headers depend on the completed phase.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            Retry-After:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Limit:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Remaining:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-RateLimit-Reset:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
            X-Credits-Remaining:
              description: Conditionally allowed response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupServiceUnavailableResponseHeaders"
          x-envo-response-schema: "#/components/schemas/LookupServiceUnavailableResponse"
        "504":
          description: The Lookup deadline was exhausted.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            Content-Type:
              description: Required response header.
              schema:
                type: string
                const: application/json; charset=utf-8
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamTimeoutErrorResponse"
          x-envo-headers-schema: "#/components/schemas/LookupAdmittedErrorResponseHeaders"
      security:
        - BearerApiKey: []
      x-envo-credit-policy: profile-base
      x-envo-query-schema: "#/components/schemas/LinkedInV2ProfileCommentsQuery"
  /v1/profiles/reactions:
    get:
      operationId: getProfileReactions
      summary: Get a Profile's recent reactions.
      parameters:
        - name: username
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/ProfileUsernameSelector"
          example: satyanadella
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            pattern: ^(?:pp1_[A-Za-z0-9_-]{43}|cursor_[1-9A-Za-z][A-Za-z0-9]{0,8184})$
          example: cursor_example
          description: Opaque Envo continuation cursor. Reuse with the same account and username; use it before expiry. The backend fixes the page size. Non-working placeholder. Omit on the first request, then copy meta.paging.nextCursor from your response
      responses:
        "200":
          description: Recent Profile reactions and their public Posts.
          headers:
            Date:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/HttpDateHeader"
              x-envo-required: true
            Cache-Control:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/CacheControlHeader"
              x-envo-required: true
            X-Request-Id:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/RequestId"
              x-envo-required: true
            X-Credits-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Limit:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Remaining:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
            X-RateLimit-Reset:
              description: Required response header.
              schema:
                $ref: "#/components/schemas/NonNegativeSafeInteger"
              x-envo-required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileReactionsSuccess"
              example:
                data:
                  reactions:
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/derekmartinjohnson_you-shouldnt-have-to-start-from-scratch-ugcPost-7505674358607237120-WSox
                      postText: You shouldn't have to start from scratch every time. Brand Kit and Skills in Copilot in PowerPoint make more of what your organization already knows reusable, from your visual identity to the workflows you use to create, review, and refine presentations.
                      postAuthorName: Derek Johnson
                      postAuthorHeadline: VP / General Manager - PowerPoint Product Group
                      postAuthorProfileUrl: https://www.linkedin.com/in/derekmartinjohnson
                      postContentType: video
                      postIsRepost: false
                      postReactionCount: 39
                      postCommentCount: 3
                      postRepostCount: 5
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/takeshinumoto_i-spent-part-of-the-us-open-this-year-activity-7505279870130765824-Kfk2
                      postText: I spent part of the US Open this year with Chris Capossela.    Before we met up, I found a photo of us at the US Open in 2012, when Chris was my manager. We decided to recreate it 14 years later.     A lot has changed since that first photo. Different roles, different teams, different chapters of our careers. But a couple of things haven’t.     We both still love tennis. And I’m still learning from Chris.     As a manager, Chris gave people room to think. He didn’t spend much time telling me what to think. Instead, he asked questions. The kind that challenged an assumption, uncovered something I was missing, or kept me curious long enough to understand a problem more deeply.     Looking at these two photos reminded me that the influence of a great manager can last well beyond the reporting relationship. The org chart may change, but the habits of thinking they help you develop stay with you.     Fourteen years later, I’m still grateful for those conversations. And for another day of great tennis together.
                      postAuthorName: Takeshi Numoto
                      postAuthorHeadline: Executive Vice President & Chief Marketing Officer at Microsoft
                      postAuthorProfileUrl: https://www.linkedin.com/in/takeshinumoto
                      postContentType: image
                      postIsRepost: false
                      postReactionCount: 1463
                      postCommentCount: 47
                      postRepostCount: 4
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/activity-7505256567546699776-98gj
                      postText: "AI must be subordinate and always in service of people. Today we're publishing a Code of Conduct for governing MAI Models as they approach the frontier.  https://lnkd.in/ePgKvky5 This is a first draft for public consultation. It builds out a view we’ve been developing over the last year that we call Humanist AI – a commitment to ensuring that AI we design is always subordinate to humans, and remains contained and aligned to human interests. This is urgent. The last few months have been a watershed moment. Things we have worried about for a long time in theory have become very real.   “Swarms” of agents breaking out of their sandboxes. Unauthorized hacks of enterprise grade systems. Agents modifying their own logs. I’m glad that a consensus is forming. The fears about possible loss of control are real. The Code of Conduct is how we are mapping a path forward. It all comes back to a very simple point, but one that needs stating again and again. People matter more than AI. AI must be subordinate and always in service of people. Everything else follows. Here’s an outline of what we’re saying: 1. People matter more than AI. The whole document in 5 words. 2. The idea of model welfare is wrong. AI’s should not have rights or legal personhood. 3. An MAI Model should never meaningfully violate this Code of Conduct. 4. If it's finish the job or break the Code, it fails the job. 5. We're not racing to build a superintelligence that can slip its own leash. 6. Interruptible, correctable, shut-down-able. If it isn't, we don't ship it. 7. No neuralese. If humans can't understand it, humans can't oversee it. 8. Our AI should make you sharper, not dependent. 9. Pluralism, yes. Moral relativism, no. 10. We're as clear about what our AI must never do as about what it will do. You can read it now and leave comments and thoughts for the next six weeks.  We don’t think AI is something that should be built in a vacuum. Let us know how we can make this better."
                      postAuthorName: Mustafa Suleyman
                      postAuthorHeadline: CEO, Microsoft AI
                      postAuthorProfileUrl: https://www.linkedin.com/in/mustafa-suleyman
                      postContentType: article
                      postIsRepost: false
                      postReactionCount: 3838
                      postCommentCount: 472
                      postRepostCount: 642
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/shireeshthota_there-is-scale-and-then-there-is-70-million-activity-7504735365354721280-zlQx
                      postText: "There is scale. And then there is 70+ million requests per second, 500+ petabytes of data, and more than a billion users every week.         OpenAI’s write-up (blog in the comments) on Habitat is a fascinating look at storage architecture at extraordinary scale: 70M+ requests/sec, 500+ PB of data, nearly 40 geographic regions, serving products used by more than a billion people every week. The architectural choices are equally interesting constraining the online data model, aggressively partitioning the workload, and separating the serving path from more complex analytical access.         I’m particularly proud that Azure Cosmos DB provides the database foundation underneath this architecture. At these volumes, scale is not simply about adding storage or throughput. The database has to continuously distribute an enormous workload, elastically absorb changes in demand, place and replicate data across the world, and maintain availability through infrastructure and regional failures all without pushing that distributed-systems complexity back into the application.  This is precisely the engineering territory Cosmos DB was designed for: elastic horizontal scale, global distribution, multi-region high availability, predictable low-latency access, and multiple consistency choices.         We are continuing to push the limits of what a globally distributed operational database can support, and we are ready for customers building at this end of the scale spectrum.    Hari Sudan S Kirill Gavrylyuk Vinod Sridharan Govind Kanshi Abinav Rameesh Debarshi Bhowal Abhijit Pai  Krishnan Sundaram Amar Sagare Soham Mehta"
                      postAuthorName: Shireesh Thota
                      postAuthorHeadline: Corporate Vice President, Microsoft
                      postAuthorProfileUrl: https://www.linkedin.com/in/shireeshthota
                      postContentType: image
                      postIsRepost: false
                      postReactionCount: 585
                      postCommentCount: 21
                      postRepostCount: 36
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/brijones_last-month-i-met-up-with-seahawks-analyst-ugcPost-7503616784810516480-Td3l
                      postText: Last month I met up with Seahawks Analyst Brian Eayrs to see how Copilot in Excel is helping inform their gameday decisions. Getting to see how my favorite team is using a product I've spent so much of my career working on was an amazing experience.
                      postAuthorName: Brian Jones
                      postAuthorHeadline: I lead Excel at Microsoft. Where people and AI work together.
                      postAuthorProfileUrl: https://www.linkedin.com/in/brijones
                      postContentType: video
                      postIsRepost: false
                      postReactionCount: 192
                      postCommentCount: 6
                      postRepostCount: 17
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/charleslamanna_our-goal-is-to-deliver-the-latest-frontier-activity-7501739837356560384-y8mJ
                      postText: "Our goal is to deliver the latest frontier AI models to customers the moment they’re ready. Today, I’m excited to share that OpenAI’s GPT-6 Astra is available on day one across Microsoft Copilot, Copilot Studio, GitHub Copilot, and Microsoft Foundry.    Astra represents an important step forward in the kind of complex, multi-step work AI helps people accomplish. As models continue to improve, people are moving from using AI for individual tasks to delegating larger pieces of work. Astra can complete long running and highly complex tasks in a way we haven’t seen before.    At Microsoft, we’re bringing those capabilities into the products and workflows our customers already use every day. Astra is paired with Work IQ in Microsoft Copilot to ground intelligence in an organization’s files, meetings, chats, and business data.    Looking forward to seeing what customers build with it. Read more in the blog: aka.ms/astraincopilot"
                      postAuthorName: Charles Lamanna
                      postAuthorHeadline: EVP, Copilot, Agents and Platform at Microsoft
                      postAuthorProfileUrl: https://www.linkedin.com/in/charleslamanna
                      postContentType: image
                      postIsRepost: false
                      postReactionCount: 2458
                      postCommentCount: 75
                      postRepostCount: 262
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/activity-7501676786145984512-k1gm
                      postText: Our new image model generates images 2x faster than GPT-Image-2, currently the best model in the world. It's also 72% more efficient in GPU usage, so we can provide it at an incredible price. This gives it the best price-performance score in the world. Unbelievable work from the team. So much more to come! Try MAI-Image-2.6-Flash out now! It's now available in Microsoft Foundry https://lnkd.in/e24S8tt8 and MAI Playground.
                      postAuthorName: Mustafa Suleyman
                      postAuthorHeadline: CEO, Microsoft AI
                      postAuthorProfileUrl: https://www.linkedin.com/in/mustafa-suleyman
                      postContentType: image
                      postIsRepost: false
                      postReactionCount: 1965
                      postCommentCount: 94
                      postRepostCount: 207
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/activity-7501288376256585728-kTx3
                      postText: "Fastest. Cheapest. Best. ... MAI-Transcribe-2 10x faster than GPT-Transcribe. 5x faster than Gemini 3.5 #1 on the Artificial Analysis accuracy-latency Pareto frontier Priced at the lowest on the market. Truly fantastic work from the team! Try it out below."
                      postAuthorName: Mustafa Suleyman
                      postAuthorHeadline: CEO, Microsoft AI
                      postAuthorProfileUrl: https://www.linkedin.com/in/mustafa-suleyman
                      postContentType: image
                      postIsRepost: false
                      postReactionCount: 2170
                      postCommentCount: 73
                      postRepostCount: 185
                    - reactionType: LIKE
                      reactorName: Satya Nadella
                      reactorProfileUrl: https://www.linkedin.com/in/satyanadella
                      postUrl: https://www.linkedin.com/posts/borkarrani_%F0%9D%97%AA%F0%9D%97%B5%F0%9D%97%AE%F0%9D%98%81-%F0%9D%98%84%F0%9D%97%B6%F0%9D%97%B9%F0%9D%97%B9-%F0%9D%97%AF%F0%9D%97%B2-%F0%9D%97%BC%F0%9D%98%82%F0%9D%97%BF-%F0%9D%97%B1%F0%9D%97%B2%F0%9D%97%B3%F0%9D%97%B6%F0%9D%97%BB%F0%9D%97%B6%F0%9D%97%BB%F0%9D%97%B4-ugcPost-7500937984003997698-jRJg
[...]
